{% extends 'card/index.html.twig' %}

{% block page %}
    <h2>Add a category</h2>
    {{ form_start(form, {"action": path(app.request.attributes.get('_route')), "method": "POST", "multipart": "true"}) }}
    {{ form_row(form.name) }}
    <div class="grid-icons">

    </div>
    {{ form_end(form) }}

{% endblock %}