// Card styles : https://codepen.io/davide2894/pen/EEwqbN

@import '~keyrune/sass/keyrune';

$ratio-card: 7/5;
$ratio-card-background: 6/5;
$card-width: 300px;
$card-height: $card-width * $ratio-card;
$card-background-height: $card-width * $ratio-card-background;


.card-container {
  border: 1px solid black;
  width: $card-width;
  height: $card-height;
  // margin: 56px auto 0;
  border-radius: 25px;
  box-sizing: border-box;
  box-shadow: -8px 9px 16px -3px gray;
  background: #171314;
  margin-top: 1rem;
}
.card-background {
  height: $card-background-height;
  margin: 20px 20px 0 20px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 8%;
  border-bottom-right-radius: 8%;
  background-image: url(https://image.ibb.co/e1XKAS/green_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-color: #bbb;
  z-index: 0;
  width: 87%;
}

/*
    -------------------------
    -------------------------
            BORDERS
    -------------------------
    -------------------------
*/
.frame-header,
.frame-type-line {
  border-bottom: 4px solid #a9a9a9;
  border-left: 2px solid #a9a9a9;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

.frame-header,
.frame-art,
.frame-type-line {

  margin-bottom: 7px;
}

.frame-text-box {
}

/*
    ----------------------
    ----------------------
            OVERFLOW
    ----------------------
    ----------------------
*/
.frame-header,
.frame-type-line,
.frame-text-box {
  overflow: hidden;
}


/*
  ----------------------------------------
  ----------------------------------------
            CARD FRAME
  ----------------------------------------
  ----------------------------------------
*/
.card-frame {
  z-index: 1;
  position: relative;
  height: 108%;
  max-width: 97%;
  left: 1%;
  top: 0.5%;
  left: 1.2%;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 87%;
}



.frame-header,
.frame-type-line {
  background:
          linear-gradient( 0deg, rgba(201, 216, 201, .3), rgba(201, 216, 209, .3) ),
          url(https://image.ibb.co/jKByZn/tile_bg_1.jpg);
  display: flex;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 18px/40px;
}
/*
  Tue 27/3
*/
.name,
.type {
  font-size: .85em;
  margin-left: 10px;
  align-self: baseline;
  font-weight: 600;
  margin-top: -.25rem;
}

#mana-icon {
  font-size: 1.4em;
  background: #ADD3AC;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: -0.05em 0.12em 0px 0 black;
  margin-right: 5px;
  height: 20px;
  align-self: center;
}
.frame-art {
  height: 100%;
  margin: 0 10px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#set-icon {
  //height: 9%;
  width: 6%;
  overflow: hidden;
  margin-right: 10px;
  align-self: center;
}
.frame-type-line {
  margin-top: 0;
}

.frame-text-box {
  margin: 0 10px;
  background: #d3ded6;
  background-image: url(https://image.ibb.co/dFcNx7/tile_bg_2.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 6px;
  font-size: .8em;
}

.flavour-text {
  font-style: italic;
  padding: 10px 0;
}

p {
  margin-bottom: 5px;
}

.ftb-inner-margin {
  margin: 5px 1px;
}





.frame-bottom-info {
  color: white;
  display: flex;
  justify-content: space-between;
  // margin: 5px 15px 0 15px;
}

fbi-left {
  flex: 1;
}
.fbi-left p:first-of-type {
  margin-bottom: 1px;
}
.fbi-left,
.fbi-right {
  font-size: 10px;
  position: relative;
  top: 6px;
}

.fbi-center {
  border-radius: 60%;
  flex-basis: 41px;
  height: 21px;
  position: relative;
  bottom: 11px;
  z-index: 2;
  background: lightgray;
  // background-image: url(https://image.ibb.co/jyq34n/holofoil_texture_2.jpg);
  box-shadow:
          0 0 0 4px #171314;
  width: 41px;
  text-align: center;
}
.inner-margins {
  margin: 0 10px;
}

.card-attack {
  transform: translate(50%, 0);
  position: absolute;
  z-index: 999999;
  display: block;
  right: 45%;
  color: black;
}

.card-mana {
  transform: translateX(135%);
  color: darkblue;
}

.card-life {
  transform: translate(-185%, 0);
  position: absolute;
  z-index: 999999;
  display: block;
  right: 45%;
  color: red;
}



.fbi-right {
  flex: 1;
  text-align: right;
}
.frame-bottom-info img {
  overflow: hidden;
  max-width: 10px;
}

