{% extends 'card/index.html.twig' %}

{% block page %}
<div class="example-wrapper">
    <h2>Add a card</h2>
    <hr/>
    {{ form_start(form, {'action': path(app.request.attributes.get('_route')), 'method': 'POST' , 'encrypte': 'form-data' }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}