<div class="example-wrapper">
    <h1>
        Cards
        <!--<a class="btn btn-primary" href="{{ path('card_create') }}">Add</a>-->
    </h1>

    <h2>Library</h2>
    <hr/>
    <div class="grid-cards">
    {% for entity in entities %}
        {% include "card/card.html.twig" with { card: entity } %}
    {% endfor %}
    </div>

    <h2>Add a card</h2>
    <hr/>
    {{ form_start(form, {'action': path(app.request.attributes.get('_route')), 'method': 'POST' , 'encrypte': 'form-data' }) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>